<div class="row justify-content-md-center">
  <div class="col-sm-12">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Website Name</th>
          <th>UserName</th>
          <th>Password</th>
          <th>priority</th>
        </tr>

      </thead>
      <tbody>
        <tr  *ngFor="let password of passwordlist">
          <td>{{password.id+1}}</td>
          <td>{{password.website}}</td>
          <td>{{password.name}}</td>
          <td>
            <input type="password" readonly class="form-control-plaintext view" value={{password.password}} />
          </td>
          <td>High</td>
          <td>
            <button onclick="showPaasword(1)">View</button>
            <button>update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngFor="let pass of passwordlist"> </div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit your detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="website">Website Name</label>
            <input type="websiteName" readonly name="websiteName" class="form-control" id="websiteName" aria-describedby="websiteName"
              placeholder="Your Website Name">
          </div>
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="userName" class="form-control" id="userName" aria-describedby="userName" placeholder="Please enter your UserName">
          </div>
          <div class="form-group">

            <input type="text" name="ConfirmPassword" class="form-control" id="ConfirmPassword" aria-describedby="userName" placeholder="Confirm your UserName">
          </div>
          <div class="form-group">
            <label for="priorityChoice">Priority</label>
            <select class="form-control" id="priorityChoice">
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>