<div class="card">
    <div class="card-header">
     Set Pin
    </div>
    <div class="card-body">
      <h5 class="card-title">Set up your pin</h5>
      <div class="alert alert-danger" role="alert" *ngIf="defaultPinErro">
       Your Default Pin is not same please try again !
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="pinDontMatch">
        Your New Pin  and confirm pin should Match !
       </div>
      <form>
        <div class="form-group">
          <label for="defaultPin">Default Pin</label>
          <input type="text" name="defaultPin" class="form-control" id ="defaultPin" aria-describedby="defaultPin" placeholder="Please enter your old Pin"
           [(ngModel)]="pin.oldPin" />
          <small id="defaultPin" class="form-text text-muted">Check your Email address for default pin.</small>
        </div>
        <div class="form-group">
          <label for="setPin">New Pin</label>
          <input type ="password" name="setPin" class="form-control" id ="setPin" aria-describedby="setPin" placeholder="Please enter your Pin"
          [(ngModel)]="pin.newpin" >
          <small id="setPin" class="form-text text-muted">We will encript all your password with this pin.</small>
        </div>
        <div class="form-group">
          <label for="setPin">Confirm Pin</label>
          <input type ="password" name="confirmPin" class="form-control" id ="confirmPin" aria-describedby="setPin" placeholder="Please enter your Pin"
          [(ngModel)]="pin.confirmPin" >
        </div>
      </form>
      
      <a  class="btn btn-primary pull-right" (click)="checkPin()">Next</a>
    </div>
